<!DOCTYPE html>

<html>

<head>
    <title>Flower Genie</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>

    <main role="main" class="container extra-bottom">
        <h1 class="mt-5">Answer Table</h1>
    </main>

    <div class="container">
        <div class="input-group mb-3">
            <input type="text" id="search_request" class="form-control" aria-label="user-name"
                aria-describedby="basic-addon1">
            <button id="search" type="button" class="btn btn-primary">Search</button>
        </div>
    </div>

    <form>
        <button type="button" class="btn btn-primary" id="createChar">Create</button>
    </form>


    <div class="container">

        <!-- Button trigger modal -->
        <div style="text-align: right;">
            <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                data-bs-target="#task-modal" data-source="New Task">Add Answer</button>
        </div>


        <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Label">Add an Answer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Answers ID</span>
                            <input type="text" id="answersID" class="form-control0" placeholder="username"
                                aria-label="user-name" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">User ID</span>
                            <input type="text" id="userID" class="form-control1" placeholder="user@gmail.com"
                                aria-label="user-email" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Arrangement ID</span>
                            <input type="text" id="arrangementID" class="form-control2" placeholder="user password"
                                aria-label="user-password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Party Size</span>
                            <input type="text" id="party_Size" class="form-control2" placeholder="user password"
                                aria-label="user-password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Budget</span>
                            <input type="text" id="budget" class="form-control2" placeholder="user password"
                                aria-label="user-password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Preferred Flower</span>
                            <input type="text" id="preferred_Flower" class="form-control2" placeholder="user password"
                                aria-label="user-password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Preferred Color</span>
                            <input type="text" id="preferred_Color" class="form-control2" placeholder="user password"
                                aria-label="user-password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Preferred Style</span>
                            <input type="text" id="preferred_Style" class="form-control2" placeholder="user password"
                                aria-label="user-password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="task-form-display">Satisfaction</span>
                            <input type="text" id="satisfaction" class="form-control2" placeholder="user password"
                                aria-label="user-password" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="submit-answer" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--Todo Table-->
    <div class="container table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="answersID">Answers ID</th>
                    <th class="userID">User ID</th>
                    <th class="arrangementID">Arrangement ID</th>
                    <th class="party_Size">Party Size</th>
                    <th class="budget">Budget</th>
                    <th class="preferred_Flower">Preferred Flower</th>
                    <th class="preferred_Color">Preferred Color</th>
                    <th class="preferred_Style">Preferred Style</th>
                    <th class="satisfaction">Satisfaction</th>
                    <th class="edit">Edit</th>
                    <th class="update">Remove</th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{item.answersID}}</td>
                    <td>{{item.userID}}</td>
                    <td>{{item.arrangementID}}</td>
                    <td>{{item.party_Size}}</td>
                    <td>{{item.budget}}</td>
                    <td>{{item.preferred_Flower}}</td>
                    <td>{{item.preferred_Color}}</td>
                    <td>{{item.preferred_Style}}</td>
                    <td>{{item.satisfaction}}</td>

                    <!-- {% if item.status == "In Progress" %}
                    <td><button type="button" class="btn btn-outline-warning btn-sm state" data-source="{{item.id}}">{{item.status}}</button></td>
                {%endif%}
                {% if item.status == "Todo" %}
                    <td><button type="button" class="btn btn-outline-secondary btn-sm state" data-source="{{item.id}}">{{item.status}}</button></td>
                {%endif%}
                {% if item.status == "Complete" %}
                    <td><button type="button" class="btn btn-outline-success btn-sm state" data-source="{{item.id}}">{{item.status}}</button></td>
                {%endif%} -->

                    <td><button type="button" class="btn btn-outline-info btn-sm edit" data-bs-toggle="modal"
                            data-bs-target="#task-modal" data-source="{{item.id}}" data-name="{{item.name}}"
                            data-email="{{item.email}}" data-password="{{item.password}}"><i class="fa fa-pen fa-1"
                                aria-hidden="true"></i></button></td>

                    <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item.id}}"
                            type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>



    <!-- <footer class="footer">
      <div class="container">
            <p class="text-muted"><small>App developed for CS411 UIUC by @tcheng10</small></p>
      </div>
    </footer> -->
</body>


</html>